@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    background: #aaa;
    font-family: 'Poppins', sans-serif;
}
.relogio{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.display{
    background: #e97415;
    position: relative;
    width: 30%;
    height: 30%; /* sempre quando quiser alinhar um item no centro usar a propriedade text-align center & line-height com o mesmo height usado para criar o elemento*/
    text-align: center;
    line-height: 200px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-weight: 700;
    border: 10px solid rgb(78, 78, 78);
}
footer{
    font-size: 1.3rem;
    margin-top: 10px;
    color: #333;
}


